[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  border-top: solid 6px #747879;
  background-color: white;
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}

#header {
}

#navigation {
  margin-top: 90px;
}

#navigation a {
  color:#999;
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 760px;
}

#header h1 {
  float:left;
  margin-right: 15px;
}

.episode {
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 15px;
  color:#534540;
}

.episode h1 {
  font-size: 22pt;
  margin:0px;
}

.episode h1 a {
  text-decoration: none;
}

.episode a {
  color:#534540;
  text-decoration: underline;
}

.episode .description {
  font-size: 11pt;
  margin-top:20px;
  margin-bottom:20px;
}

.episode .download {
  font-size: 12pt;
  margin-top:20px;
  margin-bottom:20px;
}

.resources div {
  margin-top: 20px;
}

.resources table {
}

.resources table td {
  text-align: left;
  vertical-align: top;
  padding-right: 40px;
  font-weight: bold;
} 

.resources a {
  text-decoration: none;
  font-weight: normal;
}

.resources a:hover {
  text-decoration: underline;
}

#archiv {
  margin-top: 10px;
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #534540;
  border-top: 1px solid #ddd;
}

.episode-list {
  margin-top: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.episode-list-item {
  border-spacing: 2px;
  color: #534540;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 2px;
}

.episode-list-item:hover {
  background-color: #eee;
}

.episode-list-item a {
  color: #534540;
  font-weight: bold;
}

.episode-list-item p {
  color: #534540;
  font-weight: normal;
}

#about {
  margin-top: 20px;
  color: #979b9c;
}

  #about .authors {
    margin-top: 10px;
    text-align: center;
  }

  #about .author-avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin: 40px 20px 20px 20px;
  }

  #about .devminutes {
    background: url(https://pbs.twimg.com/profile_images/378800000071151377/741e202ca3a65a9fdd2fdf099f051bef.png) no-repeat;
    background-size: 80px 80px;
  }

  #about .mictech {
    background: url(https://pbs.twimg.com/profile_images/416911252/twitter.jpg) no-repeat;
    background-size: 80px 80px;
  }

  #about .jirkapenzes {
    background: url(https://pbs.twimg.com/profile_images/605126087836725248/usuXMaTH.jpg) no-repeat;
    background-size: 80px 80px;
  }

#copyright {
  color: #7f8284;
  font-size: 10pt;
  text-align: center;
  padding: 7px;
  line-height: 20px;
}