body {
  border-top: solid 6px #747879;
  background-color: white;
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
}

#header {
}

#navigation {
  margin-top: 90px;
}

#navigation a {
  color:#999;
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 760px;
}

#header h1 {
  float:left;
  margin-right: 15px;
}

.episode {
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 15px;
  color:#534540;
}

.episode h1 {
  font-size: 22pt;
  margin:0px;
}

.episode h1 a {
  text-decoration: none;
}

.episode a {
  color:#534540;
  text-decoration: underline;
}

.episode .description {
  font-size: 11pt;
  margin-top:20px;
  margin-bottom:20px;
}

.episode .download {
  font-size: 12pt;
  margin-top:20px;
  margin-bottom:20px;
}

.resources div {
  margin-top: 20px;
}

.resources table {
}

.resources table td {
  text-align: left;
  vertical-align: top;
  padding-right: 40px;
  font-weight: bold;
} 

.resources a {
  text-decoration: none;
  font-weight: normal;
}

.resources a:hover {
  text-decoration: underline;
}

#archiv {
  margin-top: 10px;
  padding-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #534540;
  border-top: 1px solid #ddd;
}

.episode-list {
  margin-top: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.episode-list-item {
  border-spacing: 2px;
  color: #534540;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 2px;
}

.episode-list-item:hover {
  background-color: #eee;
}

.episode-list-item a {
  color: #534540;
  font-weight: bold;
}

.episode-list-item p {
  color: #534540;
  font-weight: normal;
}

#about {
  margin-top: 20px;
  color: #979b9c;
}

  #about h3 {
    font-weight: normal;
    font-size: 15pt;
    padding: 0px;
    margin: 0px;
    line-height: 20pt;
  }

  #about p {
    font-size: 10pt;
    font-size: 13px;
    line-height: 21px;
  }

  #about a {
    color: #979b9c;
    font-weight: bold;
  }

  #about .authors {
    padding: 10px;
    background-color: #2E3639;
  } 

  #about .authors img {
    width: 140px;
  }

  #about .podcast {
    padding: 10px;
    background-color: #2E3639;
  } 

  #about .size {
    max-width: 950px;
  } 


#copyright {
  background-color: #1e2629;
  border-top: solid 1px #647075;
  color: #7f8284;
  font-size: 10pt;
  text-align: center;
  padding: 7px;
  line-height: 20px;
}