<div class="about authors">
  <div class="container row-fluid size">
    <div class="col-md-7">
      <h3>O DevMinutes</h3>
      <p>Rozhodli jsme se, že by jsme chtěli zkusit natočit podcast a jelikož povídat o tom co by kdyby, umí každý, tak jsme se do toho vrhli po hlavě.</p>
      <p>Náš cíl je pravidelně přinášet nové díly a vždy se zajímavým hostem. Pokud máte zajímavý tip na hosta nebo téma, pak se nám neváhejte ozvat ;) </p>
    </div>
    <div class="col-md-3">
      <h3>Sleduj nás</h3>
      <p>
        <a target="_blank" href="https://twitter.com/devminutes">twitter.com/devminutes</a><br/>
        <a target="_blank" href="https://facebook.com/devminutes">facebook.com/devminutes</a><br/>
        <a target="_blank" href="https://itunes.apple.com/cz/podcast/dev-minutes/id668520218">iTunes</a><br/>
        <a target="_blank" href="https://soundcloud.com/devminutes">SoundCloud</a><br/>
        <a target="_blank" href="https://github.com/devminutes">github.com/devminutes</a><br/>
        <a target="_blank" href="http://feeds.soundcloud.com/users/soundcloud:users:49720730/sounds.rss">Podcast rss</a><br/>
        <a target="_blank" href="http://pcasts.in/devminutes">PocketCast</a><br/>
      </p>
    </div>
    <div class="col-md-2">
      <h3>Kontakt</h3>
      <p>
        <a target="_blank" href="mailto:devminutes@gmail.com">devminutes@gmail.com</a>
        <a target="_blank" href="http://www.mictech.cz">mictech.cz</a>
        <a target="_blank" href="http://www.penzes.cz">penzes.cz</a>
      </p>
    </div>
  </div>
</div>  