<nav>
  <ul class="pager">
    <li class="previous"><a href="#">&larr; Všechny epizody</a></li>
  </ul>
</nav>

  <h1>#{{episode.id}} {{episode.name}}</h1>
  <div ng-bind-html="episode.description" class="description"></div>
  <div ng-bind-html="episode.soundcloudPlayer"></div>

  <div class="resources">
    <div ng-bind-html="episode.resourcesHtml"></div>
  </div>
</div>

<div><a href="https://twitter.com/share" class="twitter-share-button" data-via="devminutes">Tweet</a></div>
<div class="fb-like" data-href="http://devminutes.cz/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<dir-disqus disqus-shortname="devminutes" disqus-identifier="{{episode.id}}" 
            disqus-url="{{episode.url}}" ready-to-bind="{{contentLoaded}}">
</dir-disqus>