<div class="episode">
  <h1>#{{episode.id}} {{episode.name}}</h1>
  <div ng-bind-html="episode.description" class="description"></div>
  <div ng-bind-html="episode.soundcloudPlayer"></div>

  <div class="resources">
    <div ng-bind-html="episode.resourcesHtml"></div>
  </div>
</div>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="jirkapenzes">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<dir-disqus disqus-shortname="devminutes" disqus-identifier="{{episode.id}}" 
            disqus-url="http://localhost:8081/#!/episodes/16" ready-to-bind="{{contentLoaded}}">
</dir-disqus>