<h1 class="text-muted">
  <a href="../index.html"><img src="../images/dm/dm-logo.png" alt="DevMinutes.cz" /></a>
</h1>

  <ul id="navigation" class="nav nav-pills">
  	<!--<li><a href="#!/about">O podcastu</a></li>-->
  	<li><a href="https://soundcloud.com/devminutes">SoundCloud</a></li>
  	<li><a href="https://itunes.apple.com/cz/podcast/dev-minutes/id668520218">iTunes</a></li>
  	<li class="dropdown">
    	<a class="dropdown-toggle" data-toggle="dropdown">
    		Ostatní<span class="caret"></span>
		</a>
	    <ul class="dropdown-menu" role="menu">
		  	<li><a href="https://twitter.com/devminutes">Twitter</a></li>
		  	<li><a href="https://facebook.com/devminutes">Facebook</a></li>
		  	<li><a href="http://feeds.soundcloud.com/users/soundcloud:users:49720730/sounds.rss">Podcast RSS</a></li>
        <li><a href="http://pcasts.in/devminutes">PocketCast</a></li>
        <li><a href="https://tinyletter.com/DevMinutes">Newsletter</a></li>
		  	<li><a href="https://www.linkedin.com/company/devminutes">LinkedIn</a></li>
	    </ul>
  	</li>
  </ul>
