ohm:::::{{episodeId}}

<script type="text/javascript">
  function playerUrl(episodeId) {
    return "https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/117006007&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny";
  }

  function embedUrl (episodeId) {
    return "https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/117006007&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny";
  }
</script>

<div ng-if="episodeId != null">

</div>


<object height="18" width="100%" class="ng-scope"><param name="movie" value=""><param name="allowscriptaccess" value="always"><param name="wmode" value="transparent"><embed wmode="transparent" allowscriptaccess="always" height="18" width="100%" src=""></object>

https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/117006007&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny
https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/tracks/117006007&amp;color=ff6600&amp;auto_play=false&amp;player_type=tiny
